# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
build/
.turbo/
**/.turbo/
*.tsbuildinfo
next-env.d.ts
apps/web/public/sw.js
apps/web/public/sw.js.map
apps/web/public/swe-worker-*.js

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Supabase local
supabase/.branches/
supabase/.temp/
